* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
   color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding:20px 30px;
    background-color: #39a6b2;
}

header h1{
    font-weight:bold;
    font-size:36px;
    color:#fce138;
    margin:0;
}

header a{
    color: #fce138;
}

header a{
    text-decoration: none;
    color:#fce138;
}

header nav {
    float:right;
    margin: 7px 0;
}

header nav ul li{
    display:inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }

  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }

  footer h1 {
      display:inline;
      font-size: 36px;
        color:#024e76
  }
  
  footer h2 {
    display: inline;
    color: #39a6b2;
    font-size: 20px;
    margin: 0;
  }

  footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
      color: #024e76;
  }

  section {
      padding:60px;
  }

  /* Hero Style Start */
  .hero {
      background-image:url("../images/hero-bg.jpg");
      height:600px;
      background-size:cover;
      background-position: center;
      position: relative;
  }
 

  .hero-form{
      background-color: #fce138;
      padding:20px;
      width: 500px;
      color: #024e76;
      border:solid 3px #024e76;
      position: absolute;
      bottom: 120px;
      right: 140px;
  }
  .hero-form h3{
    font-size: 24px;
    margin:0px;
}
 
  .hero-form p {
      margin: 5px 0 15px 0;
  }

  .form-input {
      border: 1px solid #024e76;
      display: block;
      padding: 7px 15px;
      font-size: 16px;
      color: #024e76;
      width: 100%;
      margin-bottom: 15px;
  }

  .hero-form label {
      margin: 0 5px;
  }

  .hero-form button{
      color:#fce138;
      background-color: #024e76;
      border: none;
      padding:10px 20px;
      font-size: 16px;
  }
   /* Hero Style End */

   .intro{
       text-align: center;
   }

   .intro p{
       line-height: 1.7;
       color:#39a6b2;
       width: 80%;
       font-size: 20px;
       margin:auto;
   }

   .steps {
       text-align:center;
       background-color: #fce138;
   }

   .section-title {
       font-size: 55px;
       color:#024e76;
       margin-bottom:35px;
       display:inline-block;
       border-bottom: 3px solid;
   }

   .primary-border{
       border-color: #fce138;
   }

   .secondary-border {
       border-color: #39a6b2;
   }

   .steps div{
       margin-bottom:80px;
   }

   .steps img{
       width:15%;
       margin:10px 0;
   }

   .steps h3{
       color:#024e76;
       font-size: 46px;
       margin-top: 10px;
   }

   .steps p{
       color:#39a6b2;
       font-size:23px;
   }